{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}
{% block content %}
    {% if validlink %}
        <h1>Set New Password</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                    {% if "password" in field.name %}
                    <label style="display: inline; margin-top: 6px; cursor: pointer; font-size: 13px; color: #aaa;">
                        <input type="checkbox" onclick="var p=document.getElementById('id_{{ field.name }}');p.type=this.checked?'text':'password';" style="vertical-align: middle;"> Show password
                    </label>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn">Set Password</button>
        </form>
    {% else %}
        <h1>Invalid Link</h1>
        <p>This password reset link is invalid or has expired.</p>
        <a href="{% url 'password_reset' %}" class="btn">Request a New Link</a>
    {% endif %}
{% endblock %}
