{% extends "base.html" %}
{% block title %}Home - Wayne's World{% endblock %}
{% block content %}
    <h1>Welcome to Wayne's World</h1>
    <p>Party on, {{ user.username }}!</p>
    <div style="display: flex; flex-direction: column; gap: 12px; align-items: center;">
        <a href="{% url 'level2' %}" class="btn" style="width: 200px;">Test Application</a>
        <a href="{% url 'towers' %}" class="btn" style="width: 200px;">Towers</a>
        <a href="{% url 'adder' %}" class="btn" style="width: 200px;">Adder Mania</a>
        <a href="{% url 'wordle' %}" class="btn" style="width: 200px;">Wordle</a>
        <a href="{% url 'transparency_home' %}" class="btn" style="width: 200px; background: #D81D3E;">Transparency Analytics</a>
    </div>
{% endblock %}
